<footer class="gradient-custom p-1 text-white rounded">
    <div>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        OU Dental Clinic
                    </h6>
                    <p>
                        Đồng hành cùng bạn, trao gửi niềm tin, kiến tạo nụ cười rạng rỡ và khỏe mạnh cho mọi gia đình
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Dịch vụ phổ biến
                    </h6>
                    <p>
                        <a href="/Datlich" class="text-reset">Khám răng</a>
                    </p>
                    <p>
                        <a href="/Datlich" class="text-reset">Niềng răng</a>
                    </p>
                    <p>
                        <a href="/Datlich" class="text-reset">Bọc răng sứ</a>
                    </p>
                    <p>
                        <a href="/Datlich" class="text-reset">Trám răng</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Các bên liên quan
                    </h6>
                    <p>
                        <a href="https://ou.edu.vn" target="_blank" class="text-reset">Đại học Mở TP.HCM</a>
                    </p>
                    <p>
                        <a href="https://it.ou.edu.vn" target="_blank" class="text-reset">Khoa CNTT</a>
                    </p>
                    <p>
                        <a href="https://github.com" target="_blank" class="text-reset">Github</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                    <p>97 Võ Văn Tần, Quận 3, TP.Hồ Chí Minh</p>
                    <p>
                        2351050164thanh@ou.edu.vn
                    </p>
                    <p>+ 08 655 263 70 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2025 OU Dental Clinic
    </div>
</footer>