{% extends 'admin/master.html' %}

{% block head %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}OU Dental Clinic{% endblock %}</title>
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        {% if current_user.user.role.name != 'ADMINISTRATOR' %}
            <h3 class="text-center my-5">Chào {{current_user.user.name}} </h3>
        {% else %}
            <h3 class="text-info text-center mt-3">CHÀO MỪNG QUẢN TRỊ VIÊN</h3>
        {% endif %}
    {% else %}
        <div class="container h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://diemchuan.net/uploads/worigin/2022/07/13/truongdaihocmotphcm_1.png"
                         class="img-fluid" alt="Ảnh đại diện website">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h3 class="text-center my-4"> Đăng nhập </h3>
                    <form method="post" action="/login-admin">
                        <div class="form-outline mb-4">
                            <label class="form-label" for=username>Tên tài khoản</label>
                            <input type="text" id="username" placeholder="..." name="username" pattern="[a-zA-Z0-9]{3,}"
                                   title="Yêu cầu 3 kí tự trở lên và không khoảng trắng"
                                   class="form-control form-control-lg"/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Mật khẩu</label>
                            <input type="password" id="password" placeholder="..." name="password"
                                   pattern=".{3,}" title="Yêu cầu 3 kí tự trở lên" class="form-control form-control-lg"/>
                        </div>
                        <div class="d-flex flex-column">
                            <button type="submit"
                                    class="btn btn-primary btn-lg btn-block">Đăng nhập
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}